@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,300&display=swap');

:root {
    --darker-color: 43, 43, 43;
    --lighter-color: 255, 255, 255;
    --primary-color: 201, 25, 46;
    --font-family: 'Poppins', sans-serif;
    --font-size: 16px;
    --gap: 1rem;
}

/*-------------------------------------reset*/
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: rgb(var(--darker-color));
}
img,
picture,
canvas,
video,
svg {
    display: block;
    max-width: 100%;
    max-height: 100vh;
}
a,
a:visited {
    text-decoration: none;
    color: rgb(var(--darker-color));
}
ul,
ol {
    list-style: inside;
    list-style-type: none;
}
button {
    cursor: pointer;
}
button,
input {
    background-color: transparent;
    outline: none;
    border: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/*----------------------------------mixins*/

.center {
    margin: 0 auto;
    width: clamp(280px, 1200px,100% );
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.rel{
    position: relative;
}
.abs {
    position: absolute;
    top: 0;
    left: 0;
}
.flow{
    margin-bottom: 2rem;
}

/*---------------------------basics styles*/

::-webkit-scrollbar {
    display: none;
}
.heading{
    font-size: 5.25rem;
}
.title, .subtitle {
    font-family: var(--font-family);
    line-height: 150%;
}
.title {
    font-size: 1.5rem;
}
.subtitle {
    font-size: 1.3rem;
}
.text {
    font-family: var(--font-famiy);
    font-size: 0.875rem;
    line-height: 140%;
}

/*------------------------------layout */
.container{
    color: rgb(var(--lighter-color));
}

h1 {
    color: rgb(var(--darker-color)); 
}
header {
    position: fixed;
    padding: 1rem 2rem;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(var(--lighter-color));
}


/*--------------------navigation*/

.navbar {
    justify-content: space-between;
    align-items: center;
}
.navbar li > a {
    display: block;
    padding: .8rem 2rem;
}

/*--------------------burger*/

.burger{
    display: none;
    z-index: 2;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.spline, .spline::before, .spline::after{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: rgb(var(--darker-color));
    transition: .5s ease-in-out;
}

.spline{
    top: 50%;
}

.spline::before, .spline::after {
    content: '';
}
.spline::before {
    transform: translateY(-6px);
}

.spline::after {
    transform: translateY(6px);
}

.navbar.open + .burger > .spline{
    transform: translateX(-50%);
    background-color: transparent;
}
.navbar.open + .burger > .spline::before, .navbar.open +.burger > .spline::after{
    background-color: rgb(var(--lighter-color));
}
.navbar.open + .burger > .spline::before{
	transform: translate(50%, 0rem) rotateZ(45deg);
}
.navbar.open + .burger > .spline::after{
	transform: translate(50%, 0rem) rotateZ(-45deg);
}

/*--------------------container*/

section{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(even) {
    color: rgb(var(--darker-color));
}
section:nth-of-type(odd) {
    background: rgb(var(--darker-color));
}

footer a {
    color: rgb(var(--darker-color));
}

@media screen and ( max-width: 800px){
    .burger{
        display: block;
    }
    .navbar {
        position: fixed;
        top: -100%;
        right: 0;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        background: rgb(var(--darker-color));
        transition: .5s ease-in-out;
    }
    .navbar.open {
        top: 0;
    }

    .navbar li > a {
        color: rgb(var(--lighter-color));
    }
}